body
{ 
background-color:#006633;
text-align:center;margin:0px;
padding:0px;
}
div
{
background-image: url('bink.jpg');
margin-left:auto;
margin-right:auto;
width:750px;
height:1200px;
}
h2 #4
{
text-align:left;
}
h2 #5
{
text-align:right;
}



  
