body
{
margin:0;
padding:0;
}
#container
{
width:100%;
margin-left:auto;
margin-right:auto;
border:1px solid black;
hight:1000px
}
#header
{
text-align:center;
margin-top: 10px;
height: 150px;
background:#207501;
}
#nav
{
background-color:#0D3D00;
font-size: 30px;
width: auto;
height: 85px;
clear: both;  
}
.block
{
background-color: #209400;
float: left;
margin: 1%;
padding: 1%;
width: 21%;
text-align: center;
}
div 
{
display: block;
unicode-bidi: isolate;
}
#left
{
width:25%;
float:left;
background:#37FF00;
height: 800px;
}
#main
{
font-size:20px;
width:50%;
float:left;
background-color:#44FF00;
height: 800px;
color: black;
}
#right
{
width:25%;
float:left;
background:#37FF00;
height: 800px;
}
#footer
{
clear:both;
background:#103C00;
color: white;
}
#logo
{
float: left;
padding: 10px;
width: 150px;
text-align: center;

}

#tytul
{
padding: 10px;
width: 560px;
font-size: 50px;
color: white;
text-align: center;
line-height: 3;
}
#o
{
color: white;


