body {
     background-color: white;
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: small;
     margin: 10px;
     padding: 0;
}

#container {
     width: 65%;
     background-color: #ffffcc;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid black;
}

header {
     height: 70px;
     background-color: silver;
     border-bottom: 1px solid black;
}

header h1 {
     text-align: center;
     font-size: 200%;
}

nav {
     width: 14%;
     background-color: silver;
     padding: 10px;
     margin: 10px;
     float: left;
     border: 1px solid black;
}

article {
/*   height: 320px; */ /* bez tej linii - elastycznie */
     width: 65%;
     margin: 1%;
     padding: 1%;
     float: left;
     border: 1px solid black;
}

aside {
     width: 15%;
     background-color: silver;
     padding: 10px;
     margin: 10px;
     float: left;
     border: 1px solid black;
}

footer {
     height: 30px;
     background-color: silver;
     clear: both;
     border-top: 1px solid black;
}

footer p {
     text-align: center;
     padding: 0,5%;
     margin: 0;
     clear: both;
}

